* {
  font-family: 'Space Mono', monospace;
  display: flex;
}

html {
  height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #090909; /* Old Browsers */
    background: -webkit-linear-gradient(top left,#090909,#314031); /*Safari 5.1-6*/
    background: -o-linear-gradient(top left,#090909,#314031); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top left,#090909,#314031); /*Fx 3.6-15*/
    background: linear-gradient(top left, #090909, #314031); /*Standard*/
    background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

header {
  justify-content: center;
}

h1 {
  justify-content: center;
  font-size: 4rem;
  color: white;
}

.tdbutton {
  width: 20vw;
  justify-content: center;
  align-self: center;
  margin-top: 3vh;
}

form {
  justify-content: center;
}

.response {
  flex-direction: column;
  color: white;
  align-items: center;
}

img {
  width: 400px;
  height: 400px;
}
