* {
  font-family: 'Space Mono', monospace;
  display: flex;
}
title {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: black;
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  justify-content: center;
}

h1 {
  justify-content: center;
  font-size: 4rem;
  color: white;
}

.tdbutton {
  width: 10vw;
  justify-content: center;
  align-self: center;
  margin-top: 3vh;
}

form {
  width: 35vw;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#datefield {
  width: 100%;
  height: 5vw;
}

.submit {
  width: 10vw;
  height: 5vw;
  margin-left: 2vw;
  border: none;
  backround-color: white;
}

.response {
  flex-direction: column;
  color: white;
  align-items: center;
}

img {
  width: 400px;
  height: 400px;
}
.responseText {
  width: 80vw;
}
h1, h2, .text-container {
  background: rgba(0,0,0,0.7);
}
