* {
  font-family: 'Space Mono', monospace;
  display: flex;
}
title {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.headContainer, .tagline, .heading, body, .form, .tdbutton {
  justify-content: center;
  align-items: center;
}

.tdbutton, .tagline, .form {
  align-self: center;
}

.heading {
  font-size: 4rem;
  color: white;
}

.tagline {
  font-size: 1rem;
  width: 40vw;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.tdbutton, .submit {
  background-color: white;
  border: 2px solid grey;
  height: 5vw;
  width: 10vw;
  font-size: 1rem;
  margin-left: 2vw;
}

.form {
  width: 35vw;
}

.dateInput {
  width: 100%;
  height: 5vw;
  font-size: 1rem;
  border: 2px solid grey;
}

.response, .tagline {
  flex-direction: column;
  color: white;
}

.resTitle {
  align-self: center;
  text-align: center;
  padding: 1rem;
}

.responseText {
  width: 80vw;
  padding: 1rem;
}

.heading, .resTitle, .text-container, .tagline{
  background: rgba(0,0,0,0.7);
}
